.img{
    width: 100%;
    height: 100%;
    
}
.img img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.inner-login{
    position: relative;
}
.inp{
    position: absolute;
    bottom: 9rem;
}